/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Header */
header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
}

/* Sections */
section {
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 21px;
  color: #a7719d;
}

/* Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
